<% provide(:title, @user.name) %>

<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1 class="text-center">
        <%= gravatar_for @user, size:50%>
        <%= @user.name%>
      </h1>
      <ul>
        <li><%= @user.name %></li>
        <li><%= @user.email %></li>
        <li><%= @user.created_at %></li>
        <li><%= @user.updated_at %></li>
      </ul>

      <h2><%=Time.now%></h2>
      <p>id: <%=@num%></p>
    </section>
  </aside>
</div>
